.page-header {
border-bottom: 1px solid #e7e9fc;
  box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo{
    padding: 16px 0;
     font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
color: #2e2f42;
}
.nav-list,
.contacts {
  display: none;
}

.mobile-menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}
.mobile-menu-open-icon {
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
position: relative;
transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current{
   color: #404bbf;
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #404bbf;
  border-radius: 2px;
 width:100%;
 height: 4px;
}
.contacts {
    font-style: normal;
    margin-left: auto;
    display: block;
}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.mobile-menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}
